<%- include("../partials/header") %>

<div class="container containerSearchResults">
    <h1>Search Result</h1>
    <h4>
        <i class="fas fa-search searchIcon"></i> 
        Sorry, we couldn't find any username matching '<%= search %>'...
    </h4>
</div>

<%- include("../partials/footer") %>