<%- include("../partials/header") %>

<h1>FRIEND PAGE!</h1>
<h3>FRIEND FEATURE COMING SOON!</h3>
<h1>FRIEND PAGE!</h1>
<h3>FRIEND FEATURE COMING SOON!</h3>
<h1>FRIEND PAGE!</h1>
<h3>FRIEND FEATURE COMING SOON!</h3>

<%- include("../partials/footer") %>
