<%- include("./partials/header") %>

<h1>LANDING PAGE! Coming soon...</h1>

<a href="/login">Log in</a>

<a href="/register">Register</a>

<a href="/logout">Log out</a>

<a href="/greybook">GreyBook</a>

<%- include("./partials/footer") %>
