<%- include("./partials/header") %>

<h1>LOGIN PAGE!</h1>

<form action="/login" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <button>Log in</button>
</form>

<a href="/">Go back</a>

<%- include("./partials/footer") %>