<%- include("./partials/header") %>

<h1>REGISTER PAGE!</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="email" placeholder="Email address" name="email">
    <input type="text" placeholder="First name" name="firstname">
    <input type="text" placeholder="Last name" name="lastname">
    <button>Register</button>
</form>

<a href="/">Go back</a>

<%- include("./partials/footer") %>