<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreyBook Registration</title>
    <!-- Google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700&family=Nunito:wght@200;300;400;700&display=swap" rel="stylesheet">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">    
    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <div class="alertContainer">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger alert-dismissible fade show shadow" role="alert">
                <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success alert-dismissible fade show shadow" role="alert">
                <%= success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
    </div>
    
    <div class="container" id="registerForm">
        <div class="text-center mb-4">
            <i class="fas fa-book fa-4x mb-4 text-dark"></i>
            <h1 class="h3 mb-3 formHeader text-dark">GreyBook Registration</h1>
        </div>
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="registerUsername">Username</label>
                <input type="text" class="form-control form-control-lg" id="registerUsername" name="username" maxlength="16" required>
                <small id="#registerUsername" class="form-text text-muted pl-1">
                    Will be used to sign in and be your GreyBook public identity.
                </small>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="registerFirstname">First name</label>
                        <input type="text" id="registerFirstname" class="form-control form-control-lg" name="firstname" required>
                    </div>
                    <div class="col">
                        <label for="registerLastname">Last name (optional)</label>
                        <input type="text" id="registerLastname" class="form-control form-control-lg" name="lastname">
                    </div>
                </div>
            </div>
        
            <div class="form-group">
                <label for="registerEmail">Email address</label>
                <input type="email" class="form-control form-control-lg" id="registerEmail" name="email" required>
            </div>

            <div class="form-group">
                <label for="registerPassword">Password</label>
                <input type="password" class="form-control form-control-lg" id="registerPassword" required>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <i id="iconFlag" class=""></i>
                <input type="password" class="form-control form-control-lg d-inline" id="confirmPassword" name="password" required>
            </div>

            <button type="submit" class="btn btn-lg btn-block btn-dark my-4">Register</button>
        </form>
        <a href="/">Go Back</a>
    </div>

    <script>
        const   password        = document.getElementById("registerPassword"),
                confirmPassword = document.getElementById("confirmPassword"),
                iconFlag        = document.getElementById("iconFlag");
    
        function validatePassword() {
            if(password.value !== confirmPassword.value) {
                iconFlag.setAttribute("class", "fas fa-times text-danger pl-2");
                confirmPassword.setCustomValidity("Passwords Don't Match");
            } else {
                iconFlag.setAttribute("class", "fas fa-check text-success pl-2");
                confirmPassword.setCustomValidity('');
            }
        }
        password.onchange       = validatePassword;
        confirmPassword.onkeyup = validatePassword;
    </script>

<%- include("./partials/footer") %>