.dangerZoneContainer h1 {
    font-size: 1.8rem;
    font-weight: 300;
}

.dangerZoneContainer p {
    font-weight: 300;
    letter-spacing: 0.06rem;
}

.dangerZoneContainer hr {
    border: 0;
    border-top: 1px solid #f00;
    opacity: .2;
}