.friendDp {
    width: 7rem;
    height: 8rem;
}

.userlink {
    color: #525252;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}
.userlink:hover {
    color: #808080;
    text-decoration: none;
}

.friendReqDetails {
    color: #808080;
    font-weight: 300;
    letter-spacing: 0.08rem;
    padding: 0;
}

.socialSubHeader {
    margin-top: 1.8rem;
    font-size: 1.8rem;
    font-weight: 300;
}