body {
    font-family: 'Mulish', sans-serif;
    background-color: #f5f5f5;
    margin-top: 100px;
}

#entriesDisp td,th {
    padding-right: 32px;
}

#newComment {
    width: 30%;
    margin-right: 8px;
    margin-left: 8px;
}

.books-display {
    display: inline-block; 
    margin: 12px;
}

#navbarContent .nav-link {
    font-weight: 300;
    font-size: 1.2rem;
    padding-left: 2rem;
}

#navbarMain {
    background-color: #525252;
    padding: 0.6rem;
}

#navbarBrand {
    font-weight: 200;
}