html, body {
    font-family: 'Mulish', sans-serif;
    height: 100%;
}

td,th {
    padding-right: 32px;
}

#newcomment {
    width: 30%;
    margin-right: 8px;
    margin-left: 8px;
}

.books-display {
    display: inline-block; 
    margin: 12px;
}
