/* SHOW BOOK stylings */
/* LEFT SIDE */
.showSidebar {
    background: #7a7a7a;
    color: #dadada;
    min-height: calc(100vh - 50px);
    padding-top: 1rem;
}

#bookInfoHeader h4 {
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
}

#bookInfoHeader h5 {
    font-weight: 100;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
}

#bookInfoHeader hr {
    background-color: #dadada;
}

#bookInfoDesc p {
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.18rem;
}

#bookInfoAssoAuthor span {
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

#bookInfoAssoAuthor h6 {
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 0;
}

#bookInfoEditGoback a {
    color: #dadada;
}
#bookInfoEditGoback a:hover {
    color: #525252;
    text-decoration: none;
}


/* RIGHT SIDE */
#viewEntriesHeader {
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

#entriesTable th {
    letter-spacing: 0.01rem;
    font-weight: 500;
    font-size: 1rem;
    color: #525252;
}

#entriesTable td {
    font-weight: 300;
    color: #525252;
}

#rightContent {
    color: #525252;
}

.accordionBtn {
    color: #525252;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}
.accordionBtn:hover {
    color: #979797;
    text-decoration: none;
}

.accordionCollapse .card {
    background-color: #ededed;
}